In [1]:
import pandas as pd 
import seaborn as sns 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import mean_absolute_error, r2_score
from xgboost import XGBRegressor
import pickle

In [2]:
df = pd.read_csv("df_plain.csv")

In [3]:
df.head()

,Audi,BMW,Bentley,Chevrolet,Datsun,Fiat,Force,Ford,Honda,Hyundai,...,kms_driven,transmission,ownership,manufacture,engine,Seats,Cng,Diesel,Electric,Lpg
0,0,0,0,0,0,0,0,0,0,0,...,86226.0,0,1,6.0,1956.0,5,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,13248.0,1,1,2.0,1330.0,5,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,60343.0,1,1,7.0,2494.0,5,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,26696.0,1,1,5.0,1199.0,5,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,69414.0,0,1,7.0,1199.0,5,0,0,0,0

In [4]:
df.columns

Index(['Audi', 'BMW', 'Bentley', 'Chevrolet', 'Datsun', 'Fiat', 'Force',
       'Ford', 'Honda', 'Hyundai', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land',
       'Lexus', 'MG', 'Mahindra', 'Maruti', 'Maserati', 'Mercedes-Benz',
       'Mini', 'Mitsubishi', 'Nissan', 'Porsche', 'Premier', 'Renault',
       'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'car_prices_in_rupee',
       'kms_driven', 'transmission', 'ownership', 'manufacture', 'engine',
       'Seats', 'Cng', 'Diesel', 'Electric', 'Lpg'],
      dtype='object')

In [5]:
x = df.drop("car_prices_in_rupee", axis=1)
y = df["car_prices_in_rupee"]

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [7]:
lr = LinearRegression()
lr.fit(x_train, y_train)
lr_pred = lr.predict(x_test)

In [8]:
mean_absolute_error(lr_pred, y_test)

581577.5551779788

In [9]:
r2_score(lr_pred, y_test)

-0.03785153625229265

In [10]:
xgb = XGBRegressor()
xgb.fit(x_train, y_train)
xgb_pred = xgb.predict(x_test)

In [11]:
mean_absolute_error(xgb_pred, y_test)

298044.85292227956

In [12]:
r2_score(xgb_pred, y_test)

0.8640597011734722

In [13]:
pickle.dump(xgb, open("xgb_model.sav", 'wb'))