In [3]:
import pandas as pd
df=pd.read_csv('car_price.csv')
df

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017.0,1956 cc,5 Seats
1,1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021.0,1330 cc,5 Seats
2,2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016.0,2494 cc,5 Seats
3,3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018.0,1199 cc,5 Seats
4,4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016.0,1199 cc,5 Seats
...,...,...,...,...,...,...,...,...,...,...
5507,5507,BMW X1 sDrive 20d xLine,28.90 Lakh,"45,000 kms",Diesel,Automatic,1st Owner,2018.0,2995 cc,7 Seats
5508,5508,BMW M Series M4 Coupe,64.90 Lakh,"29,000 kms",Petrol,Automatic,2nd Owner,2015.0,1968 cc,5 Seats
5509,5509,Jaguar XF 2.2 Litre Luxury,13.75 Lakh,"90,000 kms",Diesel,Automatic,2nd Owner,2013.0,2755 cc,5 Seats
5510,5510,BMW 7 Series 730Ld,29.90 Lakh,"79,000 kms",Diesel,Automatic,3rd Owner,2015.0,2967 cc,6 Seats
5511,5511,BMW 5 Series 520d M Sport,31.90 Lakh,"42,000 kms",Diesel,Automatic,2nd Owner,2017.0,1991 cc,5 Seats

In [8]:
df.values

array([[0, 'Jeep Compass 2.0 Longitude Option BSIV', '10.03 Lakh', ...,
        2017.0, '1956 cc', '5 Seats'],
       [1, 'Renault Duster RXZ Turbo CVT', '12.83 Lakh', ..., 2021.0,
        '1330 cc', '5 Seats'],
       [2, 'Toyota Camry 2.5 G', '16.40 Lakh', ..., 2016.0, '2494 cc',
        '5 Seats'],
       ...,
       [5509, 'Jaguar XF 2.2 Litre Luxury', '13.75 Lakh', ..., 2013.0,
        '2755 cc', '5 Seats'],
       [5510, 'BMW 7 Series 730Ld', '29.90 Lakh', ..., 2015.0, '2967 cc',
        '6 Seats'],
       [5511, 'BMW 5 Series 520d M Sport', '31.90 Lakh', ..., 2017.0,
        '1991 cc', '5 Seats']], dtype=object)

In [6]:
df = df[(df["engine"] >= 624) & (df["engine"] <= 6000)]

TypeError: '>=' not supported between instances of 'str' and 'int'